img {
	height: 140px;
}

#content {
	text-align: center;
}

.samus {
	width: 26px;
	height: 41px;
	overflow: hidden;
	background-image: url(img/sprites/samus.png);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.samus.running1 {
	background-position-x: -74px;
}

.samus.running2 {
	background-position-x: -99px;
}

.samus.running3 {
	background-position-x: -123px;
}

.samus.shooting1 {
	background-position-x: -74px;
}

.samus.shooting2 {
	background-position-x: -99px;
}

.samus.shooting3 {
	background-position-x: -124px;
}

.samus.shooting1, .samus.shooting2, .samus.shooting3 {
	background-position-y: -41px;
}

.floor {
	width: 200px;
	height: 16px;
	overflow: hidden;
	background-repeat: x;
	display: block;
	background-image: url(img/sprites/basic-floor-16x16.png);
	margin-left: auto;
	margin-right: auto;
}

.forward1 {
	background-position-x: 10px;
}
.forward2 {
	background-position-x: 5px;
}
.forward3 {
	background-position-x: 0px;
}

