/* CSS HERE */
#word{
    font-size: 3em;
}

.wordImg {
    text-align: center;
    width: 150px;
    float: left;
    height: 150px;
    border: 1px solid #EEE;
}
.wordImg img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 25px;
}



#word{
    text-align: center;
}

#container, #word, #progress { margin: 10px; }
